.selfie { width: 250px; }

.top-buffer { margin-top:2rem; }

.right-buffer {margin-right:1rem;}

.bottom-buffer {margin-bottom:1rem;}

.border-bottom {
	padding-bottom:15px;
	border-bottom:1px solid #d3d3d3;
}

ul {padding-left: 2rem;}

a {color: #758D2D;}

a:hover, a:active {color: #6F7E29;}

p::selection, li::selection, h1::selection, h3::selection, span::selection {background: #758D2D;}

p, li {font-family: 'Roboto', sans-serif;}

h1, h3 {font-family: 'Montserrat', sans-serif;}

.content{
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}