.selfie { width: 250px; }

.top-buffer { margin-top:1rem; }

.right-buffer {
	width: 5rem;
	margin-right: 1.5rem;
}

.bottom-buffer {
	margin-bottom:1rem;
}

.border-bottom {
	padding-bottom:15px;
	border-bottom:1px solid #d3d3d3;
}

ul {padding-left: 2rem;}

li a, li a:hover {color: #6F7E29}

p::selection, li::selection, h1::selection, h3::selection, span::selection, li a::selection, a img::selection {background: #758D2D;}

li a::selection {color: #333}

p, li {font-family: 'Roboto', sans-serif;}

h1, h3 {font-family: 'Montserrat', sans-serif;}

.content{
    -webkit-animation:pop-in 1s;
    -moz-animation:pop-in 1s;
    -ms-animation:pop-in 1s;
}

@keyframes pop-in {
0% { opacity: 0;transform: scale(0.6); }
100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
0% { opacity: 0;-webkit-transform: scale(0.6); }
100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 0;-moz-transform: scale(0.6); }
100% { opacity: 1;-moz-transform: scale(1); }
}